.pokemon-popup {
    display: none; /* Standardmäßig versteckt */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dunkler Hintergrund */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Über anderen Inhalten */
    
}
/* Popup Content Container */
.pokemon-popup-content {
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: auto;                     */
    border-radius: 12px;
    width: 400px;
    height: 624px;
    max-width: 90%;
    padding: 20px;
    
}
/* Popup Card Styles */
.pokemon-card-popup {
    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding-top: 4px;
    /* flex: 1; */
    height: 100%;
}
/* selbstgeschriebener code/ guter code */
.popup-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
}

#select-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.65);
    z-index: 0;
    border-radius: 32px 32px 0 0 ;
}

/* Allgemeines Button-Design */
button {
    background-color: rgb(255, 0, 0); /* Grüne Hintergrundfarbe */
    border: none;
    color: white; /* Weiße Schriftfarbe */
    padding: 10px 20px; /* Innenabstand */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand */
    transition-duration: 0.4s; /* Übergangszeit */
    cursor: pointer; /* Zeiger als Cursor */
    border-radius: 12px; /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sanfter Schatten */
}

/* Hover-Effekt */
button:hover {
    background-color: white; /* Hintergrundfarbe beim Hover */
    color: black; /* Schriftfarbe beim Hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Verstärkter Schatten beim Hover */
}

/* Aktiver Zustand */
button:active {
    background-color: #3e8e41; /* Dunklere Hintergrundfarbe beim Klicken */
    box-shadow: 0 5px #666; /* Innerer Schatten */
    transform: translateY(4px); /* Leichte Verschiebung nach unten */
}

#popup-image{
    z-index: 1000;
    height: 250px;
    width: 250px;
}
.pokemon-card-header {
    background-image: url(./img/poke-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 1;
}
.pokemon-card-header h2 {
    font-size: 56px;
    margin: 0;
    margin-top: 12px;
}
.pokemon-card-body {
    background: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    padding-bottom: 8px;
    flex: 1; 
    /* overflow-y: auto; */
    border-radius: 0 0 10px 10px;
    height: 100%;
    
}
.pokemon-card-body p {
    margin: 8px 0;
}
.about-section{
    padding: 0px 20px 20px 20px;
    
}
.about-section h3{
    margin: 0;
}
.about-item{
    padding: 4px;
    padding-left: 8px;
}
.about-type-div{
    display: flex;
}
.type-container{
    gap: 4px;
    padding-left: 4px;
}
.type-button{
    border-radius: 6px;
    color: white;
    box-shadow: none !important;
}
.ajust-span {
    text-transform: none;
    font-weight: normal;
    padding: 0;
}
.section-title{
    padding-bottom: 8px;
}
.stats-section{
    padding: 0px 20px 20px 20px;
}
.stats-section h3{
    margin: 0;
}
.evolution-section{
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;

}
.evolution-section h3{
    margin: 0;
}
.evolution-chain{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.evolution-arrow{
    padding: 0;
    width: 28px;
}
.evolution-pokemon p{
    margin: 0;
    padding-left: 12px;
}
/* Moves Section */
.moves-section {
    padding: 0px 20px 20px 20px;
    overflow-y: auto; /* Ermöglicht vertikales Scrollen */
    max-height: 200px; /* Maximale Höhe für die Moves-Sektion */
    scrollbar-width: thin; /* Für Firefox, dünner Scrollbalken */
    scrollbar-color: #ff0000 #f0f0f0; /* Scrollbar-Farbe für Firefox (Farbe des Balkens und der Spur) */
}

/* Webkit Scrollbars (Chrome, Safari) */
.moves-section::-webkit-scrollbar {
    width: 12px; /* Breite des Scrollbalkens */
}

.moves-section::-webkit-scrollbar-track {
    background: #f0f0f0; /* Hintergrundfarbe der Scrollbar-Spur */
    border-radius: 10px; /* Abgerundete Ecken der Spur */
}

.moves-section::-webkit-scrollbar-thumb {
    background: #ff0000; /* Hintergrundfarbe des Scrollbalkens */
    border-radius: 10px; /* Abgerundete Ecken des Scrollbalkens */
}

.moves-section::-webkit-scrollbar-thumb:hover {
    background: #cc0000; /* Farbe des Scrollbalkens beim Hover */
}

.moves-section h3{
    margin: 0;
}
.moves-section p{
    margin: 4px 0;
}
