
body {
  font-family: 'Raleway';
  max-width: 1920px;
  text-transform: capitalize; 
}
.no-transform{
  text-transform: none;
}
button {
  cursor: pointer;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-head {
  padding: 0 24px;
}
#load-more {
  border: none;
  background: none;
  margin: 24px;
  font-size: large;
  font-weight: bold;
}
#load-more:hover {
  transform: scale(1.2);
}
#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card {
  width: 220px;
  height: 240px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.pokemon-card .pokeImg {
  width: 140px; 
  height: 140px; 
  object-fit: cover; 
}
.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}
.headline h2,
span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: black;
  padding: 4px 8px;
  margin: 0;
}
.footerOfCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: rgba(255, 255, 255, 0.2);
  height: 100px;
  width: 100%;
}
.alignPokeImg {
  max-height: 250px;
  min-height: 200px;
}
/* bg animation */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #a8a77a,
    #ee8130,
    #6390f0,
    #f7d02c,
    #7ac74c,
    #96d9d6,
    #c22e28,
    #a33faa,
    #e2bf65,
    #a98ff3,
    #f95587,
    #a6b91a,
    #b6a136,
    #735797,
    #6f35fc,
    #705746,
    #b7b7ce,
    #d685ad
  );
  background-size: 1200% 1200%;
  animation: gradientAnimation 100s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



